<%-
  label_key = "mongoid.attributes.help_section."
  hint_key = "mongoid.hints.help_section."
-%>

<%= semantic_form_for([:admin, @help_section], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :permalink, hint: t(hint_key + 'permalink'), input_html: {size: 15} %>
      </div>
      <div class="col-sm-4">
        <%= f.input :sort_order, as: :number, hint: t(hint_key + 'sort_order'), min: 1, step: 5 %>
      </div>
      <div class="col-sm-4">
        <div class="radio_buttons input optional form-group" id="help_section_public_input">
          <label class="  control-label" for="help_section_public"><%= t(label_key + 'public') %><div class="help-inline" title="<%= t(hint_key + 'public') %>"><div>?</div></div>
          </label>
          <div class="radio">
            <label class="choice" for="help_section_public_true">
              <% checked = @help_section.public? ? 'checked=checked' : '' %>
              <input <%= checked %> id="help_section_public_true" name="help_section[public]" type="radio" value="true" />
              <%= t('formtastic.yes') %>
            </label>
          </div>
          <div class="radio">
            <label class="choice" for="help_section_public_false">
              <% checked = @help_section.public? ? '' : 'checked=checked' %>
              <input <%= checked %> id="help_section_public_false" name="help_section[public]" type="radio" value="false" />
              <%= t('formtastic.no') %>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="select input optional form-group" id="help_section_parent_id_input">
          <label class="control-label" for="help_section_parent_id"><%= t(label_key + 'parent_id') %><div class="help-inline" title="<%= t(hint_key + 'parent_id') %>"><div>?</div></div>
          </label>
          <select name="help_section[parent_id]" id="help_section_parent_id" class="selectpicker-help-section-parent-id form-control" data-live-search="true" data-selected-text-format="count>3" data-size="7" data-width="72%">
            <option value=""></option>
            <% default_value = @help_section.ancestry.present? ? @help_section.parent_id : nil %>
            <%= build_help_section_ordered_select_options(@help_section.id, default_value).html_safe %>
          </select>
        </div>
      </div>
  <% end %>



  <div role="tabpanel" class="tabbed-translation-fields">
    <%
      locales = I18n.available_locales
    %>

    <ul class="nav nav-tabs" role="tablist"
        data-default-language-icon="<span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>">
      <%
        default_locale = I18n.default_locale.to_s
        default_lang = ''
      %>
      <% locales.each_with_index do |locale, index| %>
        <%
          lang = @languages.select{|x| x.locale == locale.to_s}.first
          cls = ''
          if index == 0
            cls = 'class=active'
            default_locale = locale
            default_lang = lang.present? ? lang.name : locale
          end
        %>
        <li role="presentation" <%= cls %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= lang.present? ? lang.name : locale %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% locales.each_with_index do |locale, index| %>
        <%
          cls = ''
          cls = 'in active' if index == 0
        %>
        <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
            <%
              label = t(label_key + 'title')
              hint = t(hint_key + 'title')
              if index > 0
                label << show_default_text(@help_section.title_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>
          <%= f.fields_for :summary_translations, OpenStruct.new(f.object.summary_translations) do |translation| %>
            <%
              label = t(label_key + 'summary')
              hint = t(hint_key + 'summary')
              if index > 0
                label << show_default_text(@help_section.summary_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), admin_help_sections_path, :class => 'btn btn-warning' %>
  </div>
<% end %>

