<%- model_class = HelpSection -%>
<% title t '.title', :default => model_class.model_name.human(:count => 2) %>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_help_section_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn btn-default' %>
</div>

<table class="table table-striped display help-sections">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:summary) %></th>
      <th><%= model_class.human_attribute_name(:permalink) %></th>
      <th><%= model_class.human_attribute_name(:permalink_with_ancestors) %></th>
      <th><%= model_class.human_attribute_name(:public) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% help_sections = build_help_section_heirarchy_list(@root_help_sections) %>
    <% help_sections.each do |help_section| %>
      <tr>
        <% level = help_section.ancestry.present? ? help_section.path_ids.length+1 : 1 %>
        <td class="l<%= level %>"><%= help_section.title %></td>
        <td><%= help_section.summary %></td>
        <td><%= help_section.permalink %></td>
        <td><%= help_section.permalink_with_ancestors %></td>
        <td><%= format_public_status(help_section.public) %></td>
        <td>
          <%= link_to '',
                      edit_admin_help_section_path(help_section),
                      :title => t('helpers.links.edit'),
                      :class => 'btn btn-edit btn-xs' %>
          <%= link_to '',
                      admin_help_section_path(help_section),
                      :title => t("helpers.links.destroy"),
                      :method => :delete,
                      :data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-delete btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


