<% title t('.title', page: @help_page.title_with_section) %>
<% description @help_page.summary %>

<div class="support-breadcrumb">
  <%= link_to t('.support_home_page'), support_path %>
  <%
    bc = build_help_section_breadcrumb_links(@help_page.help_section)
    if bc.present?
  %>
    >
    <%= bc.html_safe + " > #{@help_page.title}" %>
  <% else %>
    <%= " > #{@help_page.title}" %>
  <% end %>
</div>


<div class="support-col-left">
  <% if @help_page.content.present? %>
    <div class="tinymce_format support-page-content">
      <%= simple_format_no_tags(@help_page.content, {}, {sanitize: false}) %>
    </div>
  <% else %>

    <p class="support-no-content"><%= t('.no_content') %></p>

  <% end %>
</div>
<div class="support-col-right doc-links">
  <div class="in-this-guide">
    <h2><%= t('.in_this_guide') %></h2>
    <ul>
    </ul>
  </div>
  <div class="last-updated">
    <%= t('.last_updated', date: l(@help_page.updated_at, format: :date_only)) %>
  </div>
</div>
