<% title t('.title', section: @help_section.title) %>
<% description @help_section.summary %>
<% sections = @help_section.children.is_public.sorted %>
<% pages = @help_section.help_pages.is_public.sorted %>

<div class="support-breadcrumb">
  <%= link_to t('.support_home_page'), support_path %>
  <%
    bc = build_help_section_breadcrumb_links(@help_section.parent)
    if bc.present?
  %>
    >
    <%= bc.html_safe + " > #{@help_section.title}" %>
  <% else %>
    <%= " > #{@help_section.title}" %>
  <% end %>
</div>

<div class="support-summary">
  <p><%= @help_section.summary %></p>
</div>

<% if pages.present? || sections.present? %>

  <% if sections.present? %>
    <div class="support-box">
      <h2><%= t('.sub_sections') %></h2>
      <ul class="support-lists support-subsections">

        <% sections.each do |section| %>
          <li>
            <h3><%= link_to(section.title, support_guide_book_path(section.permalink_with_ancestors)) %></h3>
            <p><%= section.summary %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if pages.present? %>
    <div class="support-box">
      <h2><%= t('.pages') %></h2>
      <ul class="support-lists support-pages">

        <% pages.each do |page| %>
          <li>
            <h3><%= link_to(page.title, support_guide_path(page.help_section.permalink_with_ancestors, page.permalink)) %></h3>
            <p><%= page.summary %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% else %>

  <p class="support-no-content"><%= t('.no_content') %></p>

<% end %>