<% title t('.title', page: @help_page.title_with_section) %>

<!-- breadcrumb -->
<div>
  <%= link_to t('.support_home_page'), support_path %>
  <%
    bc = build_help_section_breadcrumb_links(@help_page.help_section)
    if bc.present?
  %>
    >
    <%= bc.html_safe %>
  <% end %>
</div>

<!-- summary -->
<div>
  <p><%= @help_page.summary %></p>
</div>

<!-- content -->
<% if @help_page.content.present? %>
  <div class="tinymce_format">
    <%= simple_format_no_tags(@help_page.content, {}, {sanitize: false}) %>
  </div>
<% else %>

  <p><%= t('.no_content') %></p>

<% end %>